/* 480

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/* 2.HEADINGS */
header {
	text-align: center;
	height:9.5em; }

/* 3.TYPOGRAPHY */
h1 {
	margin: -0.2em 0;
	font-size: 4em; }
	
header h2, header h3 {
	width: 90%;
	margin:  auto;
	line-height: 1em; }

header h2 {
	font-size:2.2em; }	
	
header h3 {	
	font-size:2.4em; }
	
	
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
nav {
	width: 100%;
	height: 15%;
	-moz-box-shadow: -1px 10px 5px #481D54;
	-webkit-box-shadow: -1px 10px 5px #481D54;
	-ms-box-shadow: -1px 10px 5px #481D54;
	-o-box-shadow: -1px 10px 5px #481D54;
	box-shadow: -1px 10px 5px #481D54; }

nav li img {
	margin: 0.5em;
	width: 13%; }

/* 10.CONTENT */

#box1 {
	position: relative;
	margin: -1em auto 1em; }

#box1 img {           	
	width: 100%;				
	height:100%; }
	
aside section#box1 { 		
	width:85%;
	height:13em; }

aside {
	padding:1em;
	padding-bottom:2.2em; }

footer {
	height:2.2em;
	margin-top:-2.2em; }

/* 11.MAIN */

#bodycontainer {
	width:480px;
	padding-bottom: 2.2em; }

/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */