/* 480

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/* 2.HEADINGS */
header {
	text-align: center;
	height:11em;}

/* 3.TYPOGRAPHY */
h1 {
	margin: -0.2em 0;
	font-size: 6.5em;}
	
header h2, header h3 {
	display: inline;
	font-size:2.8em;}	
	
header h3 a {
	color: #220A28;
	-moz-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	transform: rotate(-7deg);}

header h3 a:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);}
	
aside h1 {
	font-size: 5em;}	
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
nav {
	width: 100%;
	height: 100%;
	-moz-box-shadow: -1px 10px 5px #481D54;
	-webkit-box-shadow: -1px 10px 5px #481D54;
	-ms-box-shadow: -1px 10px 5px #481D54;
	-o-box-shadow: -1px 10px 5px #481D54;
	box-shadow: -1px 10px 5px #481D54;}

nav li {
	margin: 0 1%;}

nav li img {
	width: 12%;}

nav li img .gm {
	width: 14%;}

/* 10.CONTENT */
aside {
	padding:1em;
	padding-bottom:2.2em;}
	
footer {height:2em;}

/* 11.MAIN */

#bodycontainer {
	width: 768px;}

/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */